# 데이터 전처리 + 분석요소 도출

In [1]:
import pandas as pd

In [16]:
# 20Table 한글컬럼명으로 변경한 파일 읽어들이기

df_20TABLE = pd.read_excel('./files_new/df_20TABLE_kor_명세서일반내역.xlsx')
df_20TABLE_ori = df_20TABLE

In [12]:
df_20TABLE['의료급여종별코드'].unique()

array(['$', '1', '2'], dtype=object)

연령별 주상병별 요양일수 (병마다 나이에 따른 요양날짜가 다른가?)

주상병별 최초입원날짜 (어떤병이 언제 자주 보이나)

주상병별 부상병 (어떤병을 같이 달고오나)

주상병별 수술여부에 따른 본인부담금

주상병별 나이에 따른 수술여부에 따른 보험사 지원금

In [198]:
# 수싲자 연령, 요앵개시일지, 심결본인부담금 데이터 조회하고
# df_month_age라는 데이터 프레임으로 새로 하나 만들기
df_month_age = df_20TABLE[['요양개시일자', '심결본인부담금', '수진자연령']]
df_month_age.head()
# df_month_age = pd.DataFrame() 으로 만들고 넣어도 됨

     요양개시일자  심결본인부담금  수진자연령
0  20130108     2800     62
1  20130212      500     74
2  20130222     1300     14
3  20130608     7900     68
4  20131128     2800     19

In [20]:
# 데이터 갯수 확인
df_month_age.count()
# len(df_month_age)

5631

In [27]:
# r결측치 확인
df_month_age.info()
# df_month_age.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5631 entries, 0 to 5630
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   요양개시일자   5631 non-null   int64
 1   심결본인부담금  5631 non-null   int64
 2   수진자연령    5631 non-null   int64
dtypes: int64(3)
memory usage: 132.1 KB

# 연령대 조건 만들기

In [56]:
# 10세미만, 10대, 20대 ... 90대, 100세이상 으로 그룹 만들기
df_9under = df_month_age[(df_month_age['수진자연령'] < 10)]
df_9under = df_9under.reset_index(drop=True)
df_9under
# '연령대' 컬럼 추가 후 값음 모두 9세 이하 넣기
df_9under['연령대'] = '9세 이하'
df_9under

       요양개시일자  심결본인부담금  수진자연령    연령대
0    20131211     2900      3  9세 이하
1    20130129     2800      6  9세 이하
2    20130130     2700      3  9세 이하
3    20130130     6500      6  9세 이하
4    20130502     2800      6  9세 이하
..        ...      ...    ...    ...
664  20131207     2000      5  9세 이하
665  20130201     2800      6  9세 이하
666  20130622     2000      3  9세 이하
667  20131001     3900      9  9세 이하
668  20130112     2900      4  9세 이하

[669 rows x 4 columns]

In [60]:
# 위에 한거 df_10,df_20 형식으로 90대 까지 만드시오 (100세 이상은 없음)
df_10 = df_month_age[(df_month_age['수진자연령'] >= 10) & (df_month_age['수진자연령'] < 20)]
df_10 = df_10.reset_index(drop=True)
df_10['연령대'] = '10대'
df_20 = df_month_age[(df_month_age['수진자연령'] >= 20) & (df_month_age['수진자연령'] < 30)]
df_20 = df_20.reset_index(drop=True)
df_20['연령대'] = '20대'
df_30 = df_month_age[(df_month_age['수진자연령'] >= 30) & (df_month_age['수진자연령'] < 40)]
df_30 = df_30.reset_index(drop=True)
df_30['연령대'] = '30대'
df_40 = df_month_age[(df_month_age['수진자연령'] >= 40) & (df_month_age['수진자연령'] < 50)]
df_40 = df_40.reset_index(drop=True)
df_40['연령대'] = '40대'
df_50 = df_month_age[(df_month_age['수진자연령'] >= 50) & (df_month_age['수진자연령'] < 60)]
df_50 = df_50.reset_index(drop=True)
df_50['연령대'] = '50대'
df_60 = df_month_age[(df_month_age['수진자연령'] >= 60) & (df_month_age['수진자연령'] < 70)]
df_60 = df_60.reset_index(drop=True)
df_60['연령대'] = '60대'
df_70 = df_month_age[(df_month_age['수진자연령'] >= 70) & (df_month_age['수진자연령'] < 80)]
df_70 = df_70.reset_index(drop=True)
df_70['연령대'] = '70대'
df_80 = df_month_age[(df_month_age['수진자연령'] >= 80) & (df_month_age['수진자연령'] < 90)]
df_80 = df_80.reset_index(drop=True)
df_80['연령대'] = '80대'
df_90 = df_month_age[(df_month_age['수진자연령'] >= 90) & (df_month_age['수진자연령'] < 100)]
df_90 = df_90.reset_index(drop=True)
df_90['연령대'] = '90대'

In [61]:
df_9.head(3)

     요양개시일자  심결본인부담금  수진자연령    연령대
0  20131211     2900      3  9세 이하
1  20130129     2800      6  9세 이하
2  20130130     2700      3  9세 이하

In [62]:
# df_month_age_any 데이터 프레임 새로 만들어서
# 위에 df_9under 부터 df_90까지 모두 행단위로 추가하시오
# 모두 추가 후 인덱스 번호 재배열 완료 후 조회

df_month_age_any = pd.DataFrame()
df_month_age_any = pd.concat([df_9under, df_10, df_20, df_30, df_40, df_50,
                              df_60, df_70, df_80, df_90]).reset_index(drop = True)
df_month_age_any

        요양개시일자  심결본인부담금  수진자연령    연령대
0     20131211     2900      3  9세 이하
1     20130129     2800      6  9세 이하
2     20130130     2700      3  9세 이하
3     20130130     6500      6  9세 이하
4     20130502     2800      6  9세 이하
...        ...      ...    ...    ...
5626  20130423     1500     94    90대
5627  20130709     1500     94    90대
5628  20131208     1500     94    90대
5629  20130401     1500     94    90대
5630  20130416      900     94    90대

[5631 rows x 4 columns]

### 위 내용을 최대한 편하게 코드를 줄여보시오.

In [229]:
df_month_age['연령대'] = '1'
for i in range((len(df_month_age))):
    if df_month_age['수진자연령'][i] < 10:
        df_month_age['연령대'][i] = '10세 미만'
    elif df_month_age['수진자연령'][i] >= 10 and df_month_age['수진자연령'][i] < 20:
        df_month_age['연령대'][i] = '10대'
    elif df_month_age['수진자연령'][i] >= 20 and df_month_age['수진자연령'][i] < 30:
        df_month_age['연령대'][i] = '20대'
    elif df_month_age['수진자연령'][i] >= 30 and df_month_age['수진자연령'][i] < 40:
        df_month_age['연령대'][i] = '30대'
    elif df_month_age['수진자연령'][i] >= 40 and df_month_age['수진자연령'][i] < 50:
        df_month_age['연령대'][i] = '40대'
    elif df_month_age['수진자연령'][i] >= 50 and df_month_age['수진자연령'][i] < 60:
        df_month_age['연령대'][i] = '50대'
    elif df_month_age['수진자연령'][i] >= 60 and df_month_age['수진자연령'][i] < 70:
        df_month_age['연령대'][i] = '60대'
    elif df_month_age['수진자연령'][i] >= 70 and df_month_age['수진자연령'][i] < 80:
        df_month_age['연령대'][i] = '70대'
    elif df_month_age['수진자연령'][i] >= 80 and df_month_age['수진자연령'][i] < 90:
        df_month_age['연령대'][i] = '80대'
    elif df_month_age['수진자연령'][i] >= 90:
        df_month_age['연령대'][i] = '90대'
df_month_age
# Pandas에서는 파생 DataFrame에 수정을 가하는 것을 권장하지 않습니다(그래서 경고를 띄우는 것이죠.) 
# 대신 Pandas는 copy() 메서드를 통해 파생 DataFrame에 독립적인 메모리를 부여한 뒤 여기에 수정을 가하도록 유도하지요

C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'] = '1'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '60대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '70대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '10대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '10세 미만'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '20대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '50대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '30대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '40대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '80대'
C:\Users\admin\AppData\Local\Temp/ipykernel_11916/1890506467.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_month_age['연령대'][i] = '90대'

        요양개시일자  심결본인부담금  수진자연령     연령대
0     20130108     2800     62     60대
1     20130212      500     74     70대
2     20130222     1300     14     10대
3     20130608     7900     68     60대
4     20131128     2800     19     10대
...        ...      ...    ...     ...
5626  20131001     3900      9  10세 미만
5627  20130423     3500     20     20대
5628  20130112     2900      4  10세 미만
5629  20130401     2800     47     40대
5630  20130503     5600     65     60대

[5631 rows x 4 columns]

# 요양개시일자 처리하기

In [230]:
df_month_age_any.head(2)

     요양개시일자  심결본인부담금  수진자연령    연령대
0  20131211     2900      3  9세 이하
1  20130129     2800      6  9세 이하

In [279]:
# month = df_month_age_any['요양개시일자']
# # df_month_age_any['요양개시일자'].astype(str) 해도 됨(for문 전에 미리 바꾸기)
# mon = list()
# for i in month:
#     mon.append(str(i)[4:6])
# mon = pd.DataFrame(mon, columns = ['달'])
# mon
# # pd.concat([df_month_age_any, mon],axis=1, join='inner',ignore_index=True)
# # df.rename(columns={'Before':'After'})

# 간단하게 되네
df_month_age_any['요양개시월'] = df_month_age_any['요양개시일자'].astype(str).str[4:6]
df_month_age_any

        요양개시일자  심결본인부담금  수진자연령    연령대 요양개시월
0     20131211     2900      3  9세 이하    12
1     20130129     2800      6  9세 이하    01
2     20130130     2700      3  9세 이하    01
3     20130130     6500      6  9세 이하    01
4     20130502     2800      6  9세 이하    05
...        ...      ...    ...    ...   ...
5626  20130423     1500     94    90대    04
5627  20130709     1500     94    90대    07
5628  20131208     1500     94    90대    12
5629  20130401     1500     94    90대    04
5630  20130416      900     94    90대    04

[5631 rows x 5 columns]

In [280]:
df_month_age_any.to_excel('./files_new/df_month_age_any_월별연령대별본인부담비용.xlsx', index = False)